/16-4
/Arreglos 1D
/Arreglos 2D
/Busqueda y ordenamiento
/Busqueda y ordenamiento.cpp
/Practica final 1.c
/Practica final 2.c
/Practica final 3.c
/Practica parcial 2.c
/README.md
/Repaso_2do_semestre.c
/años.c
/tarea for
/tarea if
/tarea switch case
/tarea while